@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@geoapify/geocoder-autocomplete/styles/round-borders.css';

.input { @apply
    p-2
    w-fit
    outline-none
    rounded-none
    mb-2
    block
    w-full
    appearance-none
    rounded-md
    border
    border-gray-200
    bg-gray-50
    px-3
    py-2
    text-gray-900
    placeholder-gray-400
    focus:border-blue-500
    focus:bg-white
    focus:outline-none
    focus:ring-blue-500
    sm:text-sm;
}

.layout {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


