.headerContainer { @apply
    relative
    z-[50]
    sm:z-0
    h-auto
    w-auto
    flex
    mx-auto
    items-center
    flex-wrap
    xl:w-[1280px]
    space-y-0
    justify-between
    border-b
    bg-white;
}

.headerContainerActive { @apply
    fixed
    sm:relative
    z-[100]
    sm:z-0
    w-screen
    sm:w-auto
    h-screen
    sm:h-auto
    flex
    flex-col
    sm:flex-row
    mx-auto
    flex-wrap
    xl:w-[1280px]
    border-b
    bg-white;
}

.mobileMenuButton { @apply
    block
    sm:hidden
    h-6
    w-6
    cursor-pointer
    right-0
    mr-4;
}

.mobileMenuButtonActive { @apply
    h-6
    w-6;
}

.mobileMenuContainer { @apply
    sm:hidden
    right-0
    mr-4;
}

.logoContainer { @apply
    w-24
    h-24;
}

.logoAndMobileMenuContainerActive { @apply
    items-center
    flex
    justify-between;
}