.titleOfSection { @apply
    text-5xl
    text-slate-700
    tracking-wider;
}

.titleOfSectionContainer { @apply
    mb-10;
}

.descriptionOfSection { @apply
    text-2xl
    text-slate-700;
}

.listOfServices {
    color: rgb(51 65 85);
    list-style-type: circle;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.yourServicesContainer { @apply
    mx-4
}

.services { @apply
    mx-12 my-10
}
